/* styling for the footer of the page */

section{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 20px;
    line-height: 24px;
}
.col-1{

}
.col-1-b{
    padding: 0px 10px;
    text-decoration: none;
    color: #0057FF; 
}
.col-2{
    display: flex;
    flex-direction: row;
}
article{
    padding:0rem 1rem;
    font-weight: 500;
}