@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
/* styling for Onboarding */

.Onboarding{
    background: url(../../assets/Cars_lnd-scp_1.jpg);
    background-size: cover;
    height: 120%;
    background-position-y: center;
    animation: change 60s infinite ease-in-out;
}
.Onbd-Overlay{
    background: rgba(255, 255, 255, 0.664);
}
.Onbd-txt{
    padding: 13.9rem;
    text-align: center;
}
.Onbd-spn{
    font-weight: 700;
    font-family: inter;
    color: black;;
}
.Onbd-spn:after{
    content: "";
    animation: spin 60s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url(../../assets/Cars_lnd-scp_1.jpg);
    }
    25%
    {
        background-image: url(../../assets/House_lnd-scp_1.jpg);
    }
    50%
    {
        background-image: url(../../assets/Cars__lnd-scp_2.jpg);
    }
    75%
    {
        background-image: url(../../assets/House_lnd-scp_2.jpg);
    }
    100%
    {
        background-image: url(../../assets/House_lnd-scp_3.jpg);
    }
}
@keyframes spin{
    0%
    {
        content: "THE POTENCY OF INSURANCE INTEGRATION";
        font-size: 25px;
    }
    25%
    {
        content: "WELCOME TO THE MODERN INSURANCE ERA";
        font-size: 25px;
    }
    50%
    {
        content: "WE INSURE AUTOMOBILES";
        font-size: 25px;
    }
    75%
    {
        content: "WE INSURE PORPERTIES";
        font-size: 25px;
    }
    100%
    {
        content: "CHECK OUT OUR AMAZING INSURANCE PLANS";
        font-size: 25px;  
    }
}