@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
/* styling for SignUp page */

.sgnUp-sec{
    padding: 0% 20% 5% 0%;
    display: flex;
    flex-direction: row;
}
.sgnUp-col-1{
    padding: 100px 50px;
}
.sgnUp-col-1-img{
    height: 20em;
    width: 30em;
    border: 1px solid #0055ff30;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.043);
    border-radius: 10px;
}
.sgnUp-h1{
    text-align: center;
    font-family: inter;
    font-weight: 700;
}
.sgnUp-input{
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}
.sgnUp-Fname{
    margin-bottom: 1.5em;
    width: 35em;
    height: 3em;
    padding: 0em 1em;
    border: #0057ff solid 2px;
    border-radius: 5px;
    font-family: inter;
    font-weight: 300;
}
.sgnUp-Lname{
    margin-bottom: 1.5em;
    width: 35em;
    height: 3em;
    padding: 0em 1em;
    border: #0057ff solid 2px;
    border-radius: 5px;
    font-family: inter;
    font-weight: 300;
}
.sgnUp-Email{
    margin-bottom: 1.5em;
    width: 35em;
    height: 3em;
    padding: 0em 1em;
    border: #0057ff solid 2px;
    border-radius: 5px;
    font-family: inter;
    font-weight: 300;
}
.sgnUp-pwd-1{
    margin-bottom: 1.5em;
    width: 35em;
    height: 3em;
    padding: 0em 1em;
    border: #0057ff solid 2px;
    border-radius: 5px;
    font-family: inter;
    font-weight: 300;
}
.sgnUp-pwd-2{
    margin-bottom: 1.5em;
    width: 35em;
    height: 3em;
    padding: 0em 1em;
    border: #0057ff solid 2px;
    border-radius: 5px;
    font-family: inter;
    font-weight: 300;
}
.sgnUp-sbmt{
    padding: 10px;
    border-radius: 5px;
    border: white solid 1px;
    background: #0057ff;
    color: white;
    cursor: pointer;
    font-family: inter;
    font-weight: 300;
    font-size: 16px;
}
.sgnUp-checkBox{
    text-align: center;
    font-family: inter;
    font-size: 16px;
    font-weight: 300;
}
.sgnUp-chkBx{
    cursor: pointer;
}
.sgn-privacy{
    margin-left: 5px;
}
.sgnUp-prv{
    text-decoration: none;
    color: #0057ff;
    font-weight: 700;
}
.sgn-terms{
    text-decoration: none;
    color: #0057ff;
    font-weight: 700;
}